.client_app_components_Modal_Modal_js-backdropStyle-backdropStyle {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: red;
  padding: 50px;
  z-index: 50;
}
.client_app_components_Modal_Modal_js-backdropStyle-modalStyle {
  position: fixed;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  padding: 30px;
  width: 50%;
  height: 50%;
  left: 20%;
}
