.backdrop {
    position: fixed;
    top: 35%;
    left: 40%;
    background: rgba(0,0,0,0.3);
    margin: '0 auto';
    padding: 30;
    margin: "auto";
    width:  40vw;
    height: 60vh;
    opacity: 1;
}

.footer{
    position:fixed;
    top: 90%;
    left: 75%;
}